/*-------------------------------------------
  Global
-------------------------------------------*/

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
}

/*-------------------------------------------
  Helpers
-------------------------------------------*/

.clearfix:after {
	clear: both;
	content: '';
	display: block;
}

.left {
	float: left;
}

.right {
	float: right;
}

/*-------------------------------------------
  Mobile - Min
-------------------------------------------*/

/*!Header*/
.header {
	background: #241915 url(../images/beans.jpg) no-repeat;
	height: 450px;
	margin: 0 auto;
	/*take out for gridlock purposes, width: 940px; */
}
.logo {
	background-position: center;
	background: url(../images/logo.png);
	bottom: 0;
	height: 103px;
	left: 0;
	margin: auto;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	text-indent: 100%;
	width: 271px;
	white-space: nowrap;

}
.top-text {
	color: #666;
	display: block;
	font: 300 18px/1.5 Helvetica, sans-serif;
	margin: 0 auto;
	padding: 50px 15px 50px 15px;
	text-align: center;
	word-spacing: 1px;
}

h1, h2 {
	font-family: Georgia, sans-serif;
	font-weight: normal;
	line-height:1px;
	text-align: center;
}
h1{
	color: #261913;
	font-size: 24px;
	margin: 20px 0;
}
h2 {
	color:#6D3B1C;
	font-size: 28px;
}

/*!Menu - list style*/

.coffee-bar {
	color: #6D3B1C;
	font: 100 28px/1 Georgia, serif;
	margin-bottom: 60px;
	text-align: center;
}
.menu {
	background-color: #f6f6f6;
	margin: 0 auto;
}
.menu-list {
	margin: 0;
	overflow: hidden;
}
.menu-list .menu-item {
	border-bottom: 1px solid #ccc;
	color: #666;
	font: normal 15px/1.5 Helvetica, sans-serif;
	list-style: none;
	margin:5px 0;
	padding: 10px 0;
	text-align: left;
}
.menu-price.right {
	color: #999;
	font: normal 18px/1.5 Helvetica, sans-serif;
	margin-right: 48px;
}
.menu-list .menu-item.no-border { 
	border:none;
}

/*!Menu - Table style*/

table {
	clear: both;
	background-color: #f6f6f6;
	border-collapse: collapse;
	margin: 0 auto;
}

td.menu-item {
	border-bottom:1px solid #ccc; 
	color: #666;
	font: normal 15px/1.5 Helvetica, sans-serif;
	padding:16px 0;	
}
td.menu-price {
	border-bottom:1px solid #ccc;
	color: #999;
	font: normal 18px/1.5 Helvetica, sans-serif;
	margin-right:20px; 
	text-align: left;\
}
td.menu-item.no-border {
	border:none;
}
td.menu-price.no-border {
	border:none;
}
.menu-spacer {
	border-bottom: none;
	width: 60px;
}

/*!Hours*/

.information {
	clear: both;
	display: table;
	margin: 0 auto;
	width: 780px;
	word-spacing: 1px;
}
.information h1 {
	color: #261913;
	font: normal 20px/1 Georgia, serif;
	text-transform: uppercase;
}
span.space {
	display: inline-block;
	margin: 10px 0;
}
.info-left {
	color: #666;
	float: left;
	font: 300 15px/1.5 Helvetica, sans-serif;
	margin: 120px 40px;
}
.info-right {
	float: right;
	height:300px;
	margin: 120px 40px;
	width: 300px;
}
.button {
	border: 3px solid #603f26;
	color: #603f26;
	font: normal 15px/1.5 Helvetica, sans-serif;
	margin: 50px 0;
	padding: 5px;
	text-align: center;
	width: 130px;
}
a:hover {
	color: #CB9E0C;
	text-decoration: none;
}
a {
	text-decoration: none;
}

/*!Footer*/

.footer {
	color: #fff;
	background-color: #241915;	
	padding: 50px 0 60px;
	font: normal 13px/1.5 Helvetica, sans-serif;
	height: 171px;
	text-align: center;
	text-transform: uppercase;
}
.copyright {
	margin: 0;
	padding: 10px;
}
.icon {
	background: url(../images/icon.png);
	display: block;
	height: 45px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: 100%;
	width: 45px;
	white-space: nowrap;
}
.social-nav {
	margin: 0;
	padding: 10px;
	text-align: center;
}
.social-nav a {
	color: #fff;
	text-decoration: none;
}

/*-------------------------------------------
  Mobile
-------------------------------------------*/
	@media screen and (min-width: 500px) {
		.menu {
			padding: 20px 50px;
		}
	}

	@media screen and (max-width: 740px) {
		.gridlock .row.header_wrapper {
			width: 100%;
			margin: 0;
		}

		.gridlock .row .header {
			margin: 0 0 50px;
			width: 100%;
		}
	}
/*-------------------------------------------
  Tablet
-------------------------------------------*/

/*-------------------------------------------
  Desktop
-------------------------------------------*/
@media screen and (max 780px){
	h1{
		font-size:32px;	
	}
}
/*-------------------------------------------
  Desktop - Max
-------------------------------------------*/




