img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}
div{
    margin:auto;
    height:50px;
    width:120px;
    text-align:center;
    border-color:#6495ED;
    background-color:#BCD2EE;
    border-style:solid;
    border-radius:15px 75px;
    padding:35px;
    }
a{
    text-decoration:none;
    color:#000;
    font-family: Helvetica, sans-serif;
    }

/*Start adding your CSS below!*/

